.wrapper {
  display: flex;
  justify-content: center;
}

.title {
  color: white;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 0 1em 1em;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12vh;

  &__image {
    border-radius: 10px;
    width: 6vw;
  }

  &__image_mobile {
    border-radius: 10px;
    width: 12vw;
  }

  &__bottom {
    max-width: 1500px;
  }

  &__title {
    display: flex;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0 10px;
  }

  &__grid {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
  }

  &__grid_mobile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    box-sizing: border-box;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em 1em;
  height: 95%;

  &__title {
    text-align: center;
    margin: 0;
    color: #fff;
  }

  &__container {
    display: flex;
    width: 90%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  &__box {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 250px;
    color: #000;
    background-color: #fff;
    border-radius: 10px;
  }
}

.contacts {
  &__container {
    display: flex;
    gap: 1em;
    padding: 1em;
    height: 70vh;
    width: 90%;
  }

  &__container_mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 90vh;
    width: 90%;
  }
  &__map {
    min-width: 40%;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
  }

  &__map_mobile {
    width: 100%;
    height: 40%;
    border-radius: 1em;
    overflow: hidden;
  }
}

.profile {
  &__container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    gap: 2em;
    position: relative;
  }
  &__button {
    position: absolute;
    right: 0;
  }
  &__button_mobile {
    position: absolute;
    top: 0;
  }
}

.notFound {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
}
